* {
  leftpanelbg: #101427;
  textblue: #999dcc;
  menubarbgcolor: #191f3d;
  contentbgcolor: #252842;
  buttoncolor: #191f3d;
  buttonhovercolor: #252e5a;
}

#fanGridPane {
  -fx-background-color: leftPanelBg;
}

.root .label {
  -fx-text-fill: textBlue;
  -fx-font-size: 16;
}
.root .statusNode {
  -fx-background-color: buttonColor;
  -fx-text-fill: textBlue;
  -fx-font-size: 16;
}

#powerLabel {
  -fx-font-weight: bold;
}
#tempDrivenLabel {
  -fx-font-weight: bold;
}
#speedLabel {
  -fx-font-weight: bold;
}
#offsetLabel {
  -fx-font-weight: bold;
}
#resetLabel {
  -fx-font-weight: bold;
}

#powerButton {
  -fx-background-radius: 50;
  -fx-background-color: buttonColor;
}
#powerButton:hover {
  -fx-background-color: buttonHoverColor;
}

#tempDrivenButton {
  -fx-background-radius: 50;
  -fx-background-color: buttonColor;
}
#tempDrivenButton:hover {
  -fx-background-color: buttonHoverColor;
}

#resetButton {
  -fx-background-radius: 50;
  -fx-background-color: buttonColor;
}
#resetButton:hover {
  -fx-background-color: buttonHoverColor;
}

.slider .thumb {
  -fx-background-color: contentBgColor;
  -fx-pref-width: 12;
  -fx-pref-height: 29;
}
.slider .track {
  -fx-background-color: textBlue;
}
