.root {
  leftpanelbg: #101427;
  textblue: #999dcc;
  menubarbgcolor: #191f3d;
  contentbgcolor: #252842;
  -fx-background-color: transparent;
}

#infoVBox {
  -fx-background-color: leftPanelBg;
}

#leftLowerGridPane {
  -fx-background-color: leftPanelBg;
}

#menuBar {
  -fx-background-color: menuBarBgColor;
}

#menuBar .menu .label {
  -fx-text-fill: textBlue;
}

#contentGridPane {
  -fx-background-color: contentBgColor;
}
