.root{
    leftPanelBg: #101427;
    textBlue : #999dcc;
    menuBarBgColor : #191f3d;
    contentBgColor : #252842;

    -fx-background-color : transparent;
}


#infoVBox{
    -fx-background-color : leftPanelBg;
}


#leftLowerGridPane{
    -fx-background-color : leftPanelBg;
}

#menuBar{
    -fx-background-color : menuBarBgColor;
}

#menuBar .menu .label{
    -fx-text-fill : textBlue;
}

#contentGridPane{
    -fx-background-color : contentBgColor;
}

